*,
*:after,
*:before {
  position: relative;
  transition: all 0.1s ease;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  min-height: 100vh;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
}

a {
  &:hover {
    color: $primary;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  color: $info;
  top: -2px;
  &:hover{
    color: $primary;
  }
}