.pointer {
  cursor: pointer;
}

.bg-logo {
  overflow: hidden;
  &::after {
    content : "";
    background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/hsuifangfangfang/1626621574304.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=H7kj76FpoWixAadmBTfQ6z1NJ8bQNyQsUsI1yGRdeMJAKNzHxcTOCfr1opN1QTx9hHXj6fsBtBj3WyzB7khDXNoldurkqxxqvU6m%2FXpgidaKZRULZWfvN6dgtMtNf6YTPP5qrF6AzfnGGMG99ks0Hv58j%2BfZ3jp6VM5DQsc4zcZq%2BMAjPL94%2BWkYtLr2TOZaQkSJwLQfOya6o8m1WbHmtkD64nuJ6iO2iQPXhcpKP2rElzu6h717M%2F7O4JiyeZJDsHwGVqzVZaHTacsdb%2F6QuRR%2Bj6jAL9p%2FXz%2FlfiJxj8zEnQ8w5IV0VZXGNInxYsbDJnfaNKW4IQz5DEvFaUXnag%3D%3D');
    background-color: rgba($primary, 0.1);
    background-size: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
    transform: rotate(-2deg);
  }
}

.border-end-custom  {
  @include media-breakpoint-up(lg) {
    &::after {
      content: '▪︎';
      position: absolute;
      color: $secondary;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      text-shadow: 0 20px $primary, 0 10px $primary , 0 -10px $primary, 0 -20px $primary;
    }
  }
}
.border-bottom-custom  {
  @include media-breakpoint-up(lg) {
    &::after {
      content: '▪︎';
      position: absolute;
      color: $secondary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 20px 0 $primary, 10px 0 $primary,  -10px 0 $primary, -20px 0 $primary,;
    }
  }
}

.btn-outline-info {
  &:hover {
    i {
      color: white
    }
  }
}
.btn-outline-primary {
  &:hover {
    color: $white;
  }
}

.form-switch {
  .form-check-input {
    border-radius: 0.5rem;
  }
}

.modal {
  background-color: rgba(black, 0.5);
  z-index: 20;
}

.offcanvas {
  padding-bottom: 220px;
}
.offcanvas-footer {
  background: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: 400px;
  }
}

.swal2-styled.swal2-confirm {
  background: $primary;
  border-radius: 0;
}